/* Estilos para a janela modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1rem;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}

.color-content {
  padding: 1rem;
  border-radius: 1rem;
}

.modal-name {
  color: #809080;
  margin-bottom: .25rem;
  text-transform: capitalize;
}

.modal-id {
  color: #000;
  opacity: .3;
  text-align: right;
  font-size: .825rem;
}

.modal-detail-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.modal-characters {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;
  text-transform: capitalize;
  padding: 0;
}

.modal-detail img {
  max-width: 100%;
  height: 9rem;
  padding-bottom: 1rem;
}
